/* ================= HEADER ================= */

.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  max-width: 391px;
  max-height: 22px;
  margin-right: 37px;
  display: flex;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
  min-width: max-content;
}

.header__link {
  text-decoration: none;
}

.header__logo {
  display: block;
  margin-right: 184px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-style: normal;
}

.header__address {
  justify-self: end;
}

/* ================= COVER ================= */

.cover {
  position: relative;
  height: 750px;
  padding: 165px 50px 50px;
  background: center / cover no-repeat url(../images/cover.jpg);
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  margin-bottom: 106px;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  gap: 107px;
}

.cover__description-text {
  position: relative;
  z-index: 2;
  font-size: 22px;
}

.letter-spacing-extended {
  display: inline;
  word-spacing: 15px;
}

.no-letter-spacing {
  display: inline;
}

.bet-button {
  position: relative;
  z-index: 2;
  width: 256px;
  height: 51px;
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* ================= LOTS ================= */

.lots {
  margin: 180px 24px 0;
  min-height: 723px;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}

.lots__card-list-item {
  position: relative;
}

.card {
  width: 334px;
  min-height: 596px;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-link {
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.card-text {
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  margin: 30px 0 2px 40px;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
}

/* ================= ABOUT ================= */

.about {
  margin: 120px 24px 0;
  padding-left: 47px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  margin-top: 35px;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 141.45px;
  height: 112.55px;
}

.about__title {
  margin: 136px 0 100px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

/* ================= FOOTER ================= */

.footer {
  margin-top: 180px;
  padding: 0 50px 82px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer__menu {
  margin-right: 37px;
}

.footer__links-list {
  margin-left: 154.03px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 18px;
}

.footer__links-list-item {
  list-style: none;
  min-width: max-content;
}

.footer__link {
  text-decoration: none;
}

.footer__social-list {
  margin: 1px 0 0 177.5px;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
